h1 {
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

h2 {
    font-family: Lato;
    font-size: 24px;
}

/*.jumbotron {
    background-color: #61D7FF;
}*/

.container-fluid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-left: 96px;
}

.card {
    margin-bottom: 25px;
}

.btn-primary {
    color: #0CE813;
}

.profile {
    width: 310px;
    height: 465px;
    object-fit: contain;
    box-shadow: 5px 3px 6px 0 rgba(0, 0, 0, 0.16);
   /* align-content: right;*/
}

html {
    background-color: #e0e0e0;
}